-e https://github.com/Lacrymology/wishbone.git@graphite-pickle#egg=wishbone
-e https://github.com/smetj/metricfactory.git#egg=metricfactory
-e https://github.com/Lacrymology/graphite-stress-tests.git#egg=graphite-stress-tests

